<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>846477449582-rffcukk827rd5vjuec4ag2dmveeho6qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846477449582-rffcukk827rd5vjuec4ag2dmveeho6qs</string>
	<key>API_KEY</key>
	<string>AIzaSyB3MCVTYQd5mqmkVC2Z9QDv06Vk9F_ZSS4</string>
	<key>GCM_SENDER_ID</key>
	<string>846477449582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arnbly.SplitIt</string>
	<key>PROJECT_ID</key>
	<string>splitit-bb5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>splitit-bb5bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:846477449582:ios:0c17e9793bd3ef73</string>
	<key>DATABASE_URL</key>
	<string>https://splitit-bb5bc.firebaseio.com</string>
</dict>
</plist>